@import 'variables';
@import 'reset';
@import 'base';
@import 'fonts';

html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

header {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5em;

  .logo {
    max-width: 8em;
  }

  .title {
    display: none;
  }

  a {
    padding: 0 0.25em;
    text-decoration: none;
    color: #466977;
  }

  nav {
    padding-left: 2.5em; 
  }

  .header-nav {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    width: 50%;
  }

  .widgets {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .widget-icon {
    max-width: 2em;
    padding: 0 0.5em;
  }
}

.select {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em;

  .select-col {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    justify-content: center;

    &.left {
      background: url('./img/men.jpg');
      background-size: auto 100%;
      background-position: top center;
      background-repeat: no-repeat;
      background-color: #FFF;

      .select-title {
        color: #fff;
        background: #000;
        padding: 0.5em 2em;
        font-family: 'lotregular';
        letter-spacing: 0.15em;
      }

      &:hover {
        cursor: pointer;
        .select-title {
          color: #0c7996;
          background: #dfbdbb;
        }
      }
    }

    &.right {
      background: url('./img/women.jpg');
      background-size: auto 100%;
      background-position: top center;
      background-repeat: no-repeat;
      background-color: #fff;

      .select-title {
        color: #000;
        background: #fff;
        padding: 0.5em 2em;
        font-family: 'lotregular';
      }
  
      &:hover {
        cursor: pointer;
        .select-title {
          color: #0c7996;
          background: #a1d5c8;
        }
      }
    }
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #000;
  color: #dfbdbb;
  height: 10em;
  width: 90%;
  margin: -2em auto 0;
  text-align: center;
  z-index: 100;
}

.sale-select {
  display: flex;
  text-align: center;
  padding: 1em 0;

  .left,
  .right {
    width: 50%;
  }
}

footer {
  text-align: center;
  padding: 0.5em 0;
}